@import '@/variables.scss';


.add-order-search-list {
    width: 100%;
    top: 0;
    & > li{
        height: 150px;
        display: flex;
    }
}

.add-order-products-list {
    height: 230px;
}

@media (max-width: $media-lg-2) {

    .add-order-wrapper{
        width: 75% !important; //to override bootstrap style
    }
}

@media (max-width: $media-lg-1) {
    
    .add-order-wrapper{
        width: 100% !important; //to override bootstrap style
    }
}


@media (max-width: $media-md-1) {
    
    .add-order-products-list{
        flex-direction: column;
        height: auto;

        & > div{
            width: 100% !important;
        }
    }

    .add-order-search-list> li>div {
            & > span{
                font-size: 20px !important;
            }

            & > div > div{
                font-size: 16px !important;
            }
    }
}

@media (max-width: $media-sm-2) {
    .add-order-search-list> li {
        flex-direction: column;
        height: auto;
        & >div{
            width: 100% !important;
            padding: 10px 0 0 0 !important;
        }
    }
}